@page "/accountansicht"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.Pages;
@using TierheimDhiliUndJustus.Shared;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;


<head>
    <link href="css/backnav.css" rel="stylesheet" type="text/css" />
</head>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="/accountansicht"><p>Meine Daten</p></a>
</div>

<div id="ueberschrift"><h1>Meine Daten</h1></div>

@if(enabled == true)
{
    <div id="enabled">
        <div id="emailinput">
            <img id="email" src="/img/email2.png" />
            <a>E-Mail:</a>  
            <input type="email" name="email" @bind-value="evalue" />   
        </div>


        <div id="passwordinput">
            <img id="schloss" src="/img/schloss.png" />
            <a>Passwort:</a>  
            <input type="@account_inputtype" name="password" @bind-value="pwvalue"/>
            <img id="closedeye" src="@account_augenart" @onclick="eventArgs => { WichtigeMethoden.ShowPasswort(3);}" />
        </div>
    </div>

    <div id="confirmerror">
        @if(fehlermeldung!="")
        {
            <div id="fehlermeldung">@fehlermeldung</div>
        }
        <div><input type="button" name="akzeptieren" @onclick="Datenaendern" value="Akzeptieren" /></div>

        
    </div>
}
    
else
{
    <div id="disabled">
            <div id="emailinput">
            <img id="email" src="/img/email2.png" />
            <a>E-Mail:</a>  
            <input type="email" name="email" value="@Kunde_DA.GetoneKunde(LoginConfig.Angemeldet).Email" disabled />   
        </div>


        <div id="passwordinput">
            <img id="schloss" src="/img/schloss.png" />
            <a>Passwort:</a>  
            <input type="@account_inputtype" name="password" value="@Kunde_DA.GetoneKunde(LoginConfig.Angemeldet).Passwort" disabled/>
            <img id="closedeye" src="@account_augenart" @onclick="eventArgs => { WichtigeMethoden.ShowPasswort(3);}" />
        </div>
    </div>
    <div id="datenaendern" @onclick="EnorDisable">Benutzerdaten ändern</div>
}




<div id="ueberschrift"><h1>Meine Termine</h1> <img id="pfeiltermine" src="@pfeilarttermine" @onclick="Changepfeiltermine"/></div> 

@if(pfeilarttermine == "/img/dropdownoffen.png")
{
    if(Termin_DA.GetTermineWithKunde(LoginConfig.Angemeldet).Count == 0 )
    {
        <p id="fehlernichtvorhanden">Sie haben noch keine Termine. </p>
        <p id="fehlernichtvorhanden">Suchen Sie sich hier ein Tier für ihren nächsten Termin aus: <a id="seitenlink" href="unseretiere">Unsere Tiere</a></p>
    }
    else
    {
        <table id="termine">
            <tr>
                <th>Nr.</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Tier</th>
                <th>Terminart</th>
            </tr>
    
            @{countertermine = 0;}

            @foreach(Termin termin in Termin_DA.GetTermineWithKunde(LoginConfig.Angemeldet))
            {
                countertermine++;

                <tr>
                <td>@countertermine</td>
                <td>@termin.TerminDatum.ToString("dd.MM.yyyy")</td>
                <td>@termin.TerminDatum.ToString("HH:mm")</td>
                <td>@Termin_DA.GetTierfromTermin(termin.ID_Termin).Tiername</td>
                <td>@Termin_DA.GetTerminart(termin.ID_Termin)</td>
                <td id="remove" @onclick="() => Terminentfernen(termin.ID_Termin)"><img src="img/remove.png"><a>Termin entfernen</a></td>
        
                </tr>      
            }
        </table> 
    }
    
}


<div id="ueberschrift"><h1>Meine Spenden</h1><img id="pfeilspende" src="@pfeilartspende" @onclick="Changepfeilspende" /></div> 

@if(pfeilartspende == "/img/dropdownoffen.png")
{
    if(Spende_DA.GetSpendenwithKunde(LoginConfig.Angemeldet).Count == 0 )
    {
        <p id="fehlernichtvorhanden">Sie haben noch keine Spenden. </p>
        <p id="fehlernichtvorhanden">Spenden Sie hier: <a id="seitenlink" href="spenden">Spenden</a></p>
    }
    else
    {
        <table id="spenden">
            <tr>
                <th>Nr.</th>
                <th>Betrag</th>
                <th>Zahlungsart</th>
            </tr>
    
            @{counterspenden = 0;}

            @foreach(Spende spende in Spende_DA.GetSpendenwithKunde(LoginConfig.Angemeldet))
            {
                counterspenden++;
                <tr>
                <td>@counterspenden</td>
                <td>@spende.Betrag</td>
                <td>@Zahlungsart_DA.GetoneZahlungsart(spende.FK_Zahlungsart_Spende)</td>                      
                </tr>      
            }
    </table>
    }
    

}



<div id="ueberschrift"><h1>Account verwalten</h1></div>
@if(accountloeschen == false)
{
    <div id="accountverwalten">
        <input type="button"  @onclick="Abmelden" name="abmelden"  value="Abmelden" />
        <input type="button"  @onclick="Accountloeschenabbrechenoderausfuehren" name="Loeschen"  value="Account löschen" />
    </div>
}
else
{
    <div id="loeschen">
       
        <a>Geben Sie ihr Passwort ein um die Löschung zu bestätigen</a>

        <div id="passwordinput2">
            <img id="schloss" src="/img/schloss.png" />
            <a>Passwort:</a>  
            <input type="@accountloeschen_inputtype" name="password"  @bind="pwinput"/>
            <img id="closedeye" src="@accountloeschen_augenart" @onclick="eventArgs => { WichtigeMethoden.ShowPasswort(4);}" />
        </div>

        @if(löschenfehlermeldung!="")
        {
            <div id="fehlermeldung">@löschenfehlermeldung</div>
        }

        <div id="actionbuttons">
            <input type="button" @onclick="Accountloeschen" name="bestaetigen"  value="Bestätigen" />
            <input type="button" @onclick="Accountloeschenabbrechenoderausfuehren" name="abbrechen"  value="Abbrechen" />  
        </div>

       
    </div>
}










