@page "/accountansicht"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.Pages;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

<head>
    <link href="css/backnav.css" rel="stylesheet" type="text/css" />
</head>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="/accountansicht"><p>Meine Daten</p></a>
</div>

<div id="ueberschrift"><h1>Meine Daten</h1></div>

@if(enabled == true)
{
    <div id="enabled">
        <div id="emailinput">
            <img id="email" src="/img/email2.png" />
            <a>E-Mail:</a>  
            <input type="email" name="email" @bind-value="evalue" />   
        </div>


        <div id="passwordinput">
            <img id="schloss" src="/img/schloss.png" />
            <a>Passwort:</a>  
            <input type="@inputtype" name="password" @bind-value="pwvalue"/>
            <img id="closedeye" src="@augenart" @onclick="ShowPasswort" />
        </div>
    </div>

    <div id="confirmerror">
        @if(fehlermeldung!="")
        {
            <div id="fehlermeldung">@fehlermeldung</div>
        }
        <div><input type="button" name="akzeptieren" @onclick="Datenaendern" value="Akzeptieren" /></div>

        
    </div>
}
    
else
{
   
    <div id="disabled">
            <div id="emailinput">
            <img id="email" src="/img/email2.png" />
            <a>E-Mail:</a>  
            <input type="email" name="email" value="@Kunde_DA.GetoneKunde(LoginConfig.Angemeldet).Email" disabled />   
        </div>


        <div id="passwordinput">
            <img id="schloss" src="/img/schloss.png" />
            <a>Passwort:</a>  
            <input type="@inputtype" name="password" value="@Kunde_DA.GetoneKunde(LoginConfig.Angemeldet).Passwort" disabled/>
            <img id="closedeye" src="@augenart" @onclick="ShowPasswort" />
        </div>
    </div>
        <div id="datenändern" @onclick="EnorDisable">Benutzerdaten ändern</div>
}




<div id="ueberschrift"><h1>Meine Termine</h1></div>

<table id="termine">
    <tr>
        <th>Nr.</th>
        <th>Datum</th>
        <th>Uhrzeit</th>
        <th>Tier</th>
    </tr>
    
    @{counter = 0;}

    @foreach(Termin termin in Termin_DA.GetTermineWithKunde(LoginConfig.Angemeldet))
    {
        counter++;

        <tr>
        <td>@counter</td>
        <td>@termin.TerminDatum.ToString("dd.MM.yyyy")</td>
        <td>@termin.TerminDatum.ToString("HH:mm")</td>
        <td>@Termin_DA.GetTierfromTermin(termin.ID_Termin)</td>
        <td id="remove" @onclick="() => Terminentfernen(termin.ID_Termin)"><img src="img/remove.png"><a>Termin entfernen</a></td>
        </tr>
        
    }

</table>








