@page "/fundtiere"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

<PageTitle>Fundtiere</PageTitle>

@*Verlinkung des CSS's per head link, weil das CSS auf mehreren Seiten verwendet wird. (UnsereTiere.razor und Fundtiere.razor)*@
<head>
    <link href="css/UnsereFundTiere.css" rel="stylesheet" type="text/css" />
    <link href="css/backnav.css" rel="stylesheet" type="text/css" />
</head>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="/fundtiere"><p>Fundtiere</p></a>
</div>

<div id="unseretiere_container">
    <div id="alletiere">
    <img id="unseretiere_ueschrift" src="/img/unserefundtiere.png" alt="Unsere Tiere"/>
    <div id="unseretiere_bilder">
    
        @{
            counterForFormatting = 0;
            lst_filtertiere = WichtigeMethoden.GetTheRightTierList(lstcheckbox_tierrassen, lstcheckbox_tierart, true);
        }
        @if(lst_filtertiere.Count == 0)
        {
            <h1 id="fehler_filter">Es gibt keine Tiere mit diesem Filter.</h1>
        }
        else
        {
            foreach (var item in lst_filtertiere)
            {
                counterForFormatting++;
                string srcgeschlecht = WichtigeMethoden.GetGeschlecht(item.ID_Tier);
                string srcimg = "img/tiere/" + @item.Tiername + ".jpg";

                <div class="unseretiere_rahmen" ><img class="unseretiere_bild" src="@srcimg" @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))">
                <h1 @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))">@item.Tiername</h1>
                <img class="unseretiere_geschlecht" src=@srcgeschlecht /></div>
                if(counterForFormatting % 3 == 0)
                {
                        <div class="block"></div>   
                }
            } 
        }
    </div>
</div>

<aside>
    <h1>Filter</h1>
    <h2>Tierarten</h2>
    <hr />
    <div class="unseretiere_tierarten">
        @{counterForFormatting=0;}
        <div class="checkboxes">
        @foreach(var art in Tierart_DA.GetTierarten())
        {
            counterForFormatting++;
                <input type="checkbox" id="@art.Tierartname" name="@art.Tierartname" value="@art.Tierartname" @oninput="eventArgs => { WichtigeMethoden.ChangeCheckedStatus(lstcheckbox_tierart, art.ID_Tierart, eventArgs.Value); }">
                <label for="@art.Tierartname">@art.Tierartname</label>
                @if(counterForFormatting % 2 == 0)
                {
                    <div id="block"></div>
                }
        }
        </div>
    </div>
    <h2>Tierrassen</h2>
    <hr />
    <div class="unseretiere_tierarten">
        @{counterTierrassen = 0;}
        @foreach(var art in lst_tierarten)
        {
            counterTierrassen++;
            <div class="checkboxes">
                <h3>@art.Tierartname<span>rassen:</span></h3>
                @{counterForFormatting = 0;}
                @foreach(var rasse in Tierrasse_DA.GetTierrasseWithTierartID(counterTierrassen))
                {   
                    counterForFormatting++;
                    <input type="checkbox" id="@rasse.Tierrassennamen" name="@rasse.Tierrassennamen" value="@rasse.Tierrassennamen" @oninput="eventArgs => { WichtigeMethoden.ChangeCheckedStatus(lstcheckbox_tierart, rasse.ID_Tierrasse, eventArgs.Value); }">
                    <label for="@rasse.Tierrassennamen">@rasse.Tierrassennamen</label>
                    if(counterForFormatting % 2 == 0)
                    {
                        <div id="block"></div>
                    }
                }
            </div>
        }
    </div>
</aside>
</div>
