@page "/unseretiere/tierdetail/{id}/{buchen}"
@inject NavigationManager UriHelper
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.BLL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@*DIE URL NOCH ÄNDERN, TIERID WEG, SONST FEHLER*@

@code {
    [Parameter]
    public string Buchen { get; set; }
    [Parameter]
    public string ID { get; set; }
}
@{
    Tier CurrentTier = Tier_DA.GetOneTier(Convert.ToInt32(ID));
    string srcimg = "";
    string srcgeschlecht = "";
    Startseite startseite = new Startseite();
    string terminart = Buchen == "besichtigungbuchen" ? "Besichtigung buchen" : "Gassigehen buchen";
    string terminfull = "";
}

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="unseretiere"><p>Unsere Tiere</p></a><p> > </p><a href="unseretiere/tierdetail/@ID"><p>@CurrentTier.Tiername</p></a>
    <p> > </p><a href="unseretiere/tierdetail/@ID/@Buchen"><p>@terminart</p></a>
</div>

<h1>@terminart</h1>

@{srcimg = "img/tiere/" + @CurrentTier.Tiername + ".jpg";
srcgeschlecht = startseite.GetGeschlecht(CurrentTier.ID_Tier);}
<div id="termin_rahmen">
    <img id="termin_bild" src="@srcimg"/>
    <h1>@CurrentTier.Tiername</h1>
    <img id="termin_geschlecht" src=@srcgeschlecht />
</div>

<div id="termin_auswahlmenu">
    <h2>Wählen Sie einen Termin aus:</h2>
    <label for="terminauswahl">Wählen Sie einen Termin aus:</label>
    <select name="terminauswahl_dropdown" id="terminauswahl">
        @foreach(Termin item in (Buchen == "besichtigungbuchen" ? Termin_DA.GetTermineWithTerminart(2) : Termin_DA.GetTermineWithTerminart(1)))
        {
            <option value="@item.ID_Termin">@item.TerminDatum</option>
        }

    </select>
</div>
