@page "/unseretiere/tierdetail/{id}/{buchen}"
@inject NavigationManager UriHelper
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.BLL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@code {
    [Parameter]
    public string Buchen { get; set; }
    [Parameter]
    public string ID{ get; set; }
    int currentdateid;
    bool gebucht = false;
}
@{
    Tier CurrentTier = Tier_DA.GetOneTier(Convert.ToInt32(ID));
    string srcimg = "";
    string srcgeschlecht = "";
    Startseite startseite = new Startseite();
    string terminart = Buchen == "besichtigungbuchen" ? "Besichtigung buchen" : "Gassigehen buchen";
    Termin selectedTermin = Termin_DA.GetTermin(currentdateid);
    List<Termin> lst_termine = Buchen == "besichtigungbuchen" ? Termin_DA.GetTermineWithTerminart(2) : Termin_DA.GetTermineWithTerminart(1);

    void ClickOnButtonTerminBuchen()
    {
        Termin_DA.BookATermin(currentdateid, CurrentTier.ID_Tier);
        gebucht = true;
    }    

    void ClickOnButtonToUnsereTiere(){
        UriHelper.NavigateTo("/unseretiere");
    }

    void ClickOnButtonToStartseite(){
        UriHelper.NavigateTo("");
    }

    void ChangeCurrentSelectedDate(object checkedValue)
    {
        currentdateid = Convert.ToInt32(checkedValue);
    }
}
<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="unseretiere"><p>Unsere Tiere</p></a><p> > </p><a href="unseretiere/tierdetail/@ID"><p>@CurrentTier.Tiername</p></a>
    <p> > </p><a href="unseretiere/tierdetail/@ID/@Buchen"><p>@terminart</p></a>
</div>

@if(terminart == "Gassigehen buchen" && Tierrasse_DA.GetTierartWithTierID(CurrentTier.ID_Tier) != 2)
{
    <div class="submitanderror">
        <h1>Sie können das Tier '@CurrentTier.Tiername' nicht zum Gassigehen buchen.</h1>
        <p>Sie möchten das Tier '@CurrentTier.Tiername' zur Besichtigung buchen? <a href="unseretiere/tierdetail/@CurrentTier.ID_Tier/besichtigungbuchen">Klicken Sie hier!</a></p>
        <h2>Oder</h2>
        <input type="button" value="Zurück zu Unsere Tiere" @onclick="eventArgs => { ClickOnButtonToUnsereTiere(); }"/>
    </div>
}
else if(lst_termine.Count == 0)
{
    <div class="submitanderror">
        <h1>Derzeit sind keine Termine für @terminart verfügbar!</h1>
        <p>Bitte versuchen Sie es wann anders wieder.</p>
        <input type="button" value="Zurück zu Unsere Tiere" @onclick="eventArgs => { ClickOnButtonToUnsereTiere(); }"/>
    </div>
}
else{
    @if (!gebucht)
    {
        <div id="termin_alles">
            <h1 id="termin_ueberschrift">@terminart</h1>

            @{srcimg = "img/tiere/" + @CurrentTier.Tiername + ".jpg";
            srcgeschlecht = startseite.GetGeschlecht(CurrentTier.ID_Tier);}
            <div id="termin_rahmen">
                <img id="termin_bild" src="@srcimg"/>
                <h1>@CurrentTier.Tiername</h1>
                <img id="termin_geschlecht" src=@srcgeschlecht />
            </div>

            <div id="termin_auswahlmenu">
                <h2 id="auswahl_ueberschrift">Wählen Sie einen Termin aus:</h2>
                <select name="terminauswahl_dropdown" id="terminauswahl" @onchange="eventArgs => { ChangeCurrentSelectedDate(eventArgs.Value); }">
                    @foreach(Termin item in lst_termine)
                    {
                        //wenn man gleich den ersten Termin auswählt, wurde noch kein Wert in die Variable 'currentdateid' reingespeichert, weil die Methode 
                        //'Change CurrentSelectedDate' nie aufgerufen wurde. Deswegen wird das erste Elemente der Liste immer zuerst in die currentdateid gespeichert.
                        if(lst_termine.ElementAt(0).ID_Termin == item.ID_Termin && lst_termine.Count >= 0)
                        {
                            currentdateid = item.ID_Termin;
                        }
                        <option value="@item.ID_Termin">@item.TerminDatum </option>
                    }
                </select>
                <input type="button" value="Termin bestätigen" @onclick="eventArgs => { ClickOnButtonTerminBuchen(); }"/>
            </div>
        </div>
    }
    else
    {
        <div class="submitanderror">
            <h1>Termin wurde gebucht!</h1>
            <p>Sie haben einen Termin für @CurrentTier.Tiername am @selectedTermin.TerminDatum.ToShortDateString() um @selectedTermin.TerminDatum.ToShortTimeString() gebucht.</p>
            <p>Sie möchten alle Ihre Termine sehen? <a href="">Klicken Sie hier!</a></p>
            <h2>Oder</h2>
            <input type="button" value="Zurück zur Startseite" @onclick="eventArgs => { ClickOnButtonToStartseite(); }"/>
        </div>
    }
}


