@page "/unseretiere/tierdetail/{id}"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.Pages;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@code{
        [Parameter]
        public string ID { get; set; }

        public bool fehleranmelden = false;
}
@{
        public Tier CurrentTier = Tier_DA.GetOneTier(Convert.ToInt32(ID));
        public string srcimg = "img/tiere/" + CurrentTier.Tiername + ".jpg";
        public bool ShowGassigehen = IsTierHund();
        public string srcgeschlecht;
        public int counter = 0;
        public WichtigeMethoden WichtigeMethoden = new WichtigeMethoden();

        public static bool IsTierHund()
        {
            if (Tierrasse_DA.GetTierartWithTierID(CurrentTier.ID_Tier) == 2)
            {
                return true;
            }
            else
            {
                return false;
            }
        }

        public void ClickOnButton(bool besichtigung)
        {
            if (LoginConfig.Angemeldet == 0)
            {
                fehleranmelden = true;
            }
            else
            {
                if (besichtigung)
                {
                    UriHelper.NavigateTo($"/unseretiere/tierdetail/{CurrentTier.ID_Tier}/besichtigungbuchen");
                }
                else
                {
                    UriHelper.NavigateTo($"/unseretiere/tierdetail/{CurrentTier.ID_Tier}/gassigehenbuchen");
                }
                fehleranmelden = false;
            }

        }
}

@*Verlinkung des CSS's per head link, weil das CSS auf mehreren Seiten verwendet wird.*@
<head>
    <link href="css/backnav.css" rel="stylesheet" type="text/css" />
</head>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="unseretiere"><p>Unsere Tiere</p></a><p> > </p><a href="unseretiere/tierdetail/@ID"><p>@CurrentTier.Tiername</p></a>
</div>

<div id="tierfull">
    <div id="tierdetail_rahmen" ><img src=@srcimg alt="@CurrentTier.Tiername"/></div>
    <div id="tierdetail_info">
        <table>
            <tr><td><h1>Name:</h1></td><td><h2>@CurrentTier.Tiername</h2></td></tr>
            <tr><td><h1>Geschlecht:</h1></td><td><h2>@WichtigeMethoden.GetGeschlechtAsText(CurrentTier)</h2></td></tr>
            <tr><td><h1>Geburtstag:</h1></td><td><h2>@CurrentTier.Geburtsdatum.ToShortDateString()</h2></td></tr>
            <tr><td></td></tr>
            <tr><td><h1>Beschreibung:</h1></td></tr>
            <tr><td colspan="2"><h2>@CurrentTier.Beschreibung</h2></td></tr>
            <tr><td><input type="button" value="Besichtigung buchen" @onclick="eventArgs => { ClickOnButton(true); }"/></td>
                @if (ShowGassigehen)
                {
                    <td><input type="button" value="Gassigehen buchen" @onclick="eventArgs => { ClickOnButton(false); }"/></td>
                }
                </tr>
            @if (fehleranmelden)
            {
                <tr><td colspan="2"><h2 class="fehleranmelden">Sie müssen sich zuerst anmelden oder registrieren. </h2><a href="login" class="fehleranmelden">Klicken Sie hier! </a></td></tr>
            }
        </table> 
    </div>
</div>

<div id="tierdetail_weiteretiere">
    <h1 id="weiteretiere_ueberschrift">Weitere Tiere zum Anschauen</h1>
    <div id=weiteretiere>
        @foreach(var item in Tier_DA.GetTierExceptTierID(CurrentTier.ID_Tier))
        {
            srcimg = "img/tiere/" + @item.Tiername + ".jpg";
            srcgeschlecht = WichtigeMethoden.GetGeschlecht(item.ID_Tier);
            if(counter <=2)
            {
                <div class="weiteretiere_rahmen"><img class="weiteretiere_bild" src="@srcimg" @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))"/>
                <h1 @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))">@item.Tiername</h1>
                <img class="weiteretiere_geschlecht" src=@srcgeschlecht />
                </div>
                counter++;
            }
        }
    </div>
</div>



