@page "/unseretiere/tierdetail/{id}"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL
@using TierheimDhiliUndJustus.Pages;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;


@*Den Parameter und alle Elemente, die damit verbunden sind, konnte ich nicht in die TierDetail.cs Klasse speichern, da diese imemr einen Fehler geworfen haben*@
@*Ebenfalls funktioniert das NavigationManager Objekt 'uriHelper' nicht in der Klasse*@
@code{
    [Parameter]
    public string ID { get; set; }
}
@{
    Tier CurrentTier = Tier_DA.GetOneTier(Convert.ToInt32(ID));

    string srcimg = "img/tiere/" + CurrentTier.Tiername + ".jpg";

    void ClickOnButton(int? terminart = 0)
    {
        if (LoginConfig.Angemeldet != 0)
        {
            switch (terminart)
            {
                case 1:
                    UriHelper.NavigateTo($"/unseretiere/tierdetail/{CurrentTier.ID_Tier}/besichtigungbuchen");
                    break;
                case 2:
                    UriHelper.NavigateTo($"/unseretiere/tierdetail/{CurrentTier.ID_Tier}/gassigehenbuchen");
                    break;
                case 3:
                    UriHelper.NavigateTo($"/unseretiere/tierdetail/{CurrentTier.ID_Tier}/adoptieren");
                    break;
                default:
                    enableTierLöschen = true;
                    break;
            }
        }
    }

    void DeleteCurrentTier()
    {
        Termin_DA.RemoveTierfromTermin(CurrentTier.ID_Tier);
        Tier_DA.DeleteTier(CurrentTier.ID_Tier);
        UriHelper.NavigateTo("/unseretiere");
    }
}

@*Verlinkung des CSS's per head link, weil das CSS auf mehreren Seiten verwendet wird.*@
<head>
    <link href="css/backnav.css" rel="stylesheet" type="text/css" />
</head>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="unseretiere"><p>Unsere Tiere</p></a><p> > </p><a href="unseretiere/tierdetail/@ID"><p>@CurrentTier.Tiername</p></a>
</div>

<div id="tierfull">
    <div id="tierdetail_rahmen" >
        <img src=@srcimg alt="@CurrentTier.Tiername"/>
        @if(CurrentTier.Fundtier == 0)
        {
            <input id="button_adoptieren" type="button" value="Adoptieren" @onclick="eventArgs => { ClickOnButton(3); }"/>
        }
        @if (LoginConfig.Angemeldet != 0 && Kunde_DA.GetOneKunde(LoginConfig.Angemeldet).Rolle == "Admin")
        {
            <input id="button_adoptieren" type="button" value="Tier löschen" @onclick="eventArgs => { ClickOnButton(); }"/>
        }
        @if (enableTierLöschen)
        {
            <h2 class="confirmlöschen">Wollen Sie das Tier wirklich löschen?</h2>
            <h2 class="confirmlöschen" id="confirmlöschen_link" @onclick="eventArgs => { DeleteCurrentTier(); }">Klicken Sie hier.</h2>
        }
    </div>
    <div id="tierdetail_info">
        <table>
            <tr><td><h1>Name:</h1></td><td><h2>@CurrentTier.Tiername</h2></td></tr>
            <tr><td><h1>Geschlecht:</h1></td><td><h2>@WichtigeMethoden_BLL.GetGeschlechtAsText(CurrentTier)</h2></td></tr>
            <tr><td><h1>Geburtstag:</h1></td><td><h2>@CurrentTier.Geburtsdatum.ToShortDateString()</h2></td></tr>
            <tr><td></td></tr>
            <tr><td><h1>Beschreibung:</h1></td></tr>
            <tr><td colspan="2"><h2>@CurrentTier.Beschreibung</h2></td></tr>
            <tr><td><input type="button" value="Besichtigung buchen" @onclick="eventArgs => { ClickOnButton(1); }"/></td>
                @if (WichtigeMethoden_BLL.IsTierHund(CurrentTier))
                {
                    <td><input type="button" value="Gassigehen buchen" @onclick="eventArgs => { ClickOnButton(2); }"/></td>
                }
            </tr>
            @if (LoginConfig.Angemeldet == 0)
            {
                <tr><td colspan="2"><h2 class="fehleranmelden">Sie müssen sich zuerst anmelden oder registrieren, um einen Termin buchen zu können. </h2><a href="login" class="fehleranmelden">Klicken Sie hier! </a></td></tr>
            }
        </table> 
    </div>
</div>

<div id="tierdetail_weiteretiere">
    <h1 id="weiteretiere_ueberschrift">Weitere Tiere zum Anschauen</h1>
    <div id=weiteretiere>
        @{counter = 0;}
        @foreach(var item in Tier_DA.GetTierExceptTierID(CurrentTier.ID_Tier))
        {
            srcimg = "img/tiere/" + @item.Tiername + ".jpg";
            srcgeschlecht = WichtigeMethoden_BLL.GetGeschlechtAsPictureTag(item.ID_Tier);
            if(counter <=2)
            {
                <div class="weiteretiere_rahmen"><img class="weiteretiere_bild" src="@srcimg" @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))"/>
                <h1 @onclick="@(()=>UriHelper.NavigateTo($"/unseretiere/tierdetail/{@item.ID_Tier}"))">@item.Tiername</h1>
                <img class="weiteretiere_geschlecht" src=@srcgeschlecht />
                </div>
                counter++;
            }
        }
    </div>
</div>



