@page "/unseretiere/tierdetail/{value}"
@inject NavigationManager UriHelper
@using TierheimDhiliUndJustus.DAL;
@using TierheimDhiliUndJustus.BLL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@code {
    [Parameter]
    public string Value { get; set; }
}
@{
    Tier CurrentTier = Tier_DA.GetOneTier(Convert.ToInt32(Value));
    string srcimg = "img/tiere/" + CurrentTier.Tiername + ".jpg";
    Startseite startseite = new Startseite();
    int counter = 0;

    string GetGeschlecht()
    {
        if(CurrentTier.Geschlecht == "w")
        {
            return "weiblich";
        }
        else
        {
            return "männlich";
        }
    }
}

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href="unseretiere"><p>Unsere Tiere</p></a><p> > </p><a href="unseretiere/tierdetail/@Value"><p>@CurrentTier.Tiername</p></a>
</div>

<div id="tierfull">
    <div id="tierdetail_rahmen" ><img src=@srcimg alt="@CurrentTier.Tiername"/></div>
    <div id="tierdetail_info">
        <table>
            <tr><td><h1>Name:</h1></td><td><h2>@CurrentTier.Tiername</h2></td></tr>
            <tr><td><h1>Geschlecht:</h1></td><td><h2>@GetGeschlecht()</h2></td></tr>
            <tr><td><h1>Geburtstag:</h1></td><td><h2>@CurrentTier.Geburtsdatum.ToShortDateString()</h2></td></tr>
            <tr><td></td></tr>
            <tr><td><h1>Beschreibung:</h1></td></tr>
            <tr><td colspan="2"><h2>@CurrentTier.Beschreibung</h2></td></tr>
            <tr><td><input type="button" value="Besichtigung buchen"/></td><td><input type="button" value="Gassigehen buchen"/></td></tr>
        </table> 
    </div>
</div>

<div id="tierdetail_weiteretiere">
    <h1 id="weiteretiere_ueberschrift">Weitere Tiere zum Anschauen</h1>
    <div id=weiteretiere>
        @foreach(var item in Tier_DA.GetTierExceptTierID(CurrentTier.ID_Tier))
        {
            srcimg = "img/tiere/" + @item.Tiername + ".jpg";
            if(counter <=2)
            {
                <div class="weiteretiere_rahmen"><img class="weiteretiere_bild" src="@srcimg" />
                <h1>@item.Tiername</h1>
                </div>
                counter++;
            }
        }
    </div>
</div>



