@page "/unseretiere"
@inject NavigationManager UriHelper;
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@code{
    public static int counter = 0;
    public string geschlechtsource = "";
    public Startseite Startseite = new Startseite();
    public List<int> lstcheckbox_tierart = new List<int>();
    public List<int> lstcheckbox_tierrassen = new List<int>();
}

@code{
    public void ChangeCheckedStatus_Tierart(int tierid, object checkedValue)
    {
        if((bool)checkedValue == true)
        {
            if (!lstcheckbox_tierart.Contains(tierid))
            {
                lstcheckbox_tierart.Add(tierid);
            }
        }
        else
        {
            if (lstcheckbox_tierart.Contains(tierid))
            {
                lstcheckbox_tierart.Remove(tierid);
            }
        }
    }

    public void ChangeCheckedStatus_Tierrassen(int tierid, object checkedValue)
    {
        if((bool)checkedValue == true)
        {
            if (!lstcheckbox_tierrassen.Contains(tierid))
            {
                lstcheckbox_tierrassen.Add(tierid);
            }
        }
        else
        {
            if (lstcheckbox_tierrassen.Contains(tierid))
            {
                lstcheckbox_tierrassen.Remove(tierid);
            }
        }
    }

    public void ClickOnTier(string tierid)
    {
        UriHelper.NavigateTo($"/unseretiere/tierdetail/{tierid}");
    }

    public List<Tier> GetTheRightTierList()
    {
        if(lstcheckbox_tierrassen.Count > 0 || lstcheckbox_tierart.Count > 0)
        {
            return Tier_DA.GetTierWithFilterTierrasse(lstcheckbox_tierrassen, lstcheckbox_tierart);
        }
        else
        {
            return Tier_DA.GetTier();
        }
    }
}


<PageTitle>Unsere Tiere</PageTitle>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href=""><p>Unsere Tiere</p></a>
</div>

<div id="alletiere">
    <img id="unseretiere_ueschrift" src="/img/unseretiere.png" alt="Unsere Tiere"/>
    <div id="unseretiere_bilder">
    
        @{counter = 0;}
        @foreach (var item in GetTheRightTierList())
        {
            counter++;
            string srcgeschlecht = Startseite.GetGeschlecht(item.ID_Tier);
            string srcimg = "img/tiere/" + @item.Tiername + ".jpg";

            <div class="unseretiere_rahmen" ><img class="unseretiere_bild" src="@srcimg" @onclick="eventArgs => { ClickOnTier(Convert.ToString(item.ID_Tier)); }">
            <h1 @onclick="eventArgs => { ClickOnTier(Convert.ToString(item.ID_Tier)); }">@item.Tiername</h1>
            <img class="unseretiere_geschlecht" src=@srcgeschlecht /></div>
            @if(counter % 3 == 0)
            {
                    <div class="block"></div>   
            }
        }
    </div>

</div>

<article>
    <h1>Filter</h1>
    <h2>Tierarten</h2>
    <hr />
    <div class="unseretiere_tierarten">
    @{counter=0;}
    @foreach(var item in Tierart_DA.GetTierarten())
    {
        counter++;
        <input type="checkbox" name="@item.Tierartname" value="@item.Tierartname" @oninput="eventArgs => { ChangeCheckedStatus_Tierart(item.ID_Tierart, eventArgs.Value); }">
        <label for="@item.Tierartname">@item.Tierartname</label>
        if(counter % 2 == 0)
        {
            <div id="block"></div>
        }
    }
        </div>
    <h2>Tierrassen</h2>
    <hr />
    <div class="unseretiere_tierarten">
        <h3>Katzenrassen</h3>
        @{counter=0;}
        @foreach(var item in Tierrasse_DA.GetTierrassen(1))
        {
            counter++;
            <input type="checkbox" name="@item.Tierrassennamen" value="@item.Tierrassennamen" @oninput="eventArgs => { ChangeCheckedStatus_Tierrassen(item.ID_Tierrasse, eventArgs.Value); }">
            <label for="@item.Tierrassennamen">@item.Tierrassennamen</label>
            if(counter % 2 == 0)
            {
                <div id="block"></div>
            }
        }
    </div>
    <div class="unseretiere_tierarten">
        <h3>Hunderassen</h3>
        @{counter=0;}
        @foreach(var item in Tierrasse_DA.GetTierrassen(2))
        {
            counter++;
            <input type="checkbox" name="@item.Tierrassennamen" value="@item.Tierrassennamen" @oninput="eventArgs => { ChangeCheckedStatus_Tierrassen(item.ID_Tierrasse, eventArgs.Value); }">
            <label for="@item.Tierrassennamen">@item.Tierrassennamen</label>
            if(counter % 2 == 0)
            {
                <div id="block"></div>
            }
        }
    </div>
    <div class="unseretiere_tierarten">
        <h3>Hamsterrassen</h3>
        @{counter=0;}
        @foreach(var item in Tierrasse_DA.GetTierrassen(3))
        {
            counter++;
            <input type="checkbox" name="@item.Tierrassennamen" value="@item.Tierrassennamen" @oninput="eventArgs => { ChangeCheckedStatus_Tierrassen(item.ID_Tierrasse, eventArgs.Value); }">
            <label for="@item.Tierrassennamen">@item.Tierrassennamen</label>
            if(counter % 2 == 0)
            {
                <div id="block"></div>
            }
        }
    </div>
</article>